In [1]:
# Import MySQL Connector/Python 
import mysql.connector as connector

## **Creating connection to mysql local host and cursor object**

In [6]:
#Creating connection to mysql localhost and creating a cursor object
connection=connector.connect(user="root",password="Nicole2023")
cursor = connection.cursor()

In [7]:
#creating database little_lemon_db oand settting it for use
cursor.execute("CREATE DATABASE IF NOT EXISTS little_lemon_db")
cursor.execute("USE little_lemon_db")

## **Creating Tables into little_lemon_db**

In [18]:
#MenuItems table
create_menuitem_table = """CREATE TABLE IF NOT EXISTS MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

In [20]:
#Menus table
create_menu_table = """CREATE TABLE IF NOT EXISTS Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

In [21]:
#Bookings Table
create_booking_table = """CREATE TABLE IF NOT EXISTS Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

In [22]:
#Orders table
create_orders_table = """CREATE TABLE IF NOT EXISTS Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

In [44]:
#Employees table
create_employees_table = """CREATE TABLE IF NOT EXISTS Employees (
    EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
    Name VARCHAR(255),
    Role VARCHAR(255),
    Address VARCHAR(255),
    Contact_Number INT,
    Email VARCHAR(255),
    Annual_Salary VARCHAR(255)
);"""

In [ ]:
# Create MenuItems table
cursor.execute(create_menuitem_table)

# Create Menu table
cursor.execute(create_menu_table)

# Create Bookings table
cursor.execute(create_booking_table)

# Create Orders table
cursor.execute(create_orders_table)

# Create Employees table
cursor.execute(create_employees_table)

In [45]:
# Create Employees table
cursor.execute(create_employees_table)

## **Inserting data into the created tables**

In [25]:
#*******************************************************#
# Insert query to populate "MenuItems" table:
#*******************************************************#
insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

In [26]:
#*******************************************************#
# Insert query to populate "Menu" table:
#*******************************************************#
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

In [28]:
#*******************************************************#
# Insert query to populate "Bookings" table:
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

In [29]:
#*******************************************************#
# Insert query to populate "Orders" table:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

In [47]:
#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#
insert_employees = """
INSERT INTO Employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary)
VALUES
(01,'Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
(02,'Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
(03,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
(04,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
(05,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
(06,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""

In [ ]:
# Populate MenuItems table
cursor.execute(insert_menuitems)
connection.commit()

# Populate MenuItems table
cursor.execute(insert_menu)
connection.commit()

# Populate Bookings table
cursor.execute(insert_bookings)
connection.commit()

# Populate Orders table
cursor.execute(insert_orders)
connection.commit()

In [48]:
# Populate Employees table
cursor.execute(insert_employees)
connection.commit()

## **Establishing a pool connection**

In [49]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

dbconfig={"database":"little_lemon_db", "user":"root", "password":"Nicole2023"}

try:
    pool = MySQLConnectionPool(pool_name = "pool_a",
                           pool_size = 2, #default is 5
                           **dbconfig)
    print("The connection pool is created with a name: ",pool.pool_name)
    print("The pool size is:",pool.pool_size)

except Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

The connection pool is created with a name:  pool_a
The pool size is: 2

## **Creating stored procedures to determine peakhours,**

In [52]:
# Create the stored procedure
stored_procedure_query = """
CREATE PROCEDURE PeakHours()
BEGIN
    SELECT HOUR(BookingSlot) AS BookingHour, COUNT(*) AS TotalBookings
    FROM Bookings
    GROUP BY HOUR(BookingSlot)
    ORDER BY TotalBookings DESC;
END;
"""

# Execute the stored procedure creation query
cursor.execute(stored_procedure_query)

# Call the stored procedure
cursor.callproc("PeakHours")

# Fetch the results
results = next(cursor.stored_results())
dataset = results.fetchall()

# Extract column names
columns = [column[0] for column in results.description]

# Print column names
print(columns)

# Print data
for data in dataset:
    print(data)

['BookingHour', 'TotalBookings']
(19, 2)
(15, 1)
(17, 1)
(18, 1)
(20, 1)

## **Creating stored procedure to determine Guest status**

In [56]:
import mysql.connector

# Establish connection
connection = mysql.connector.connect(
    user="root",
    password="Nicole2023",
    database="little_lemon_db"
)

# Create cursor
cursor = connection.cursor()

# Create the stored procedure query
stored_procedure_query = """
CREATE PROCEDURE GuestStatus()
BEGIN
    SELECT CONCAT(GuestFirstName, ' ', GuestLastName) AS GuestName,
    
    CASE
        WHEN e.Role IN ('Manager', 'Assistant Manager') THEN 'Ready to pay'
        WHEN e.Role = 'Head Chef' THEN 'Ready to serve'
        WHEN e.Role = 'Assistant Chef' THEN 'Preparing Order'
        WHEN e.Role = 'Head Waiter' THEN 'Order served'
    END AS OrderStatus
    
    FROM Bookings b
    LEFT JOIN Employees e ON b.EmployeeID = e.EmployeeID;
END;
"""

try:
    # Execute the stored procedure creation query
    cursor.execute(stored_procedure_query)

    # Call the stored procedure
    cursor.callproc("GuestStatus")

    # Fetch the results
    results = next(cursor.stored_results())
    dataset = results.fetchall()

    # Extract column names
    columns = [column[0] for column in results.description]

    # Print column names
    print(columns)

    # Print data
    for data in dataset:
        print(data)

except mysql.connector.Error as error:
    print("Error occurred during stored procedure execution: {}".format(error))

finally:
    # Close the cursor and connection
    cursor.close()
    connection.close()

['GuestName', 'OrderStatus']
('Anna Iversen', 'Ready to pay')
('Joakim Iversen', 'Ready to pay')
('Vanessa McCarthy', 'Ready to serve')
('Marcos Romero', 'Preparing Order')
('Hiroki Yamane', 'Ready to pay')
('Diana Pinto', 'Order served')

## **Little Lemon Analysis and sales report**

In [57]:
# Create a connection pool
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

dbconfig = {
    "database":"little_lemon_db",
    "user" : "root",
    "password" : "Nicole2023"
}


try:
    pool = MySQLConnectionPool(pool_name = "pool_b",
                           pool_size = 2, #default is 5
                           **dbconfig)
    print("The connection pool is created with a name: ",pool.pool_name)
    print("The pool size is:",pool.pool_size)

except Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

The connection pool is created with a name:  pool_b
The pool size is: 2

In [60]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error, PoolError
import mysql.connector as connector

dbconfig = {
    "database": "little_lemon_db",
    "user": "root",
    "password": "Nicole2023"
}

try:
    pool = MySQLConnectionPool(pool_name="pool_b", pool_size=2, **dbconfig)
    print("The connection pool is created with a name:", pool.pool_name)
    print("The pool size is:", pool.pool_size)

    # Get connections from the connection pool
    connection1 = pool.get_connection()
    connection2 = pool.get_connection()

    try:
        # Create cursors for each connection
        cursor1 = connection1.cursor()
        cursor2 = connection2.cursor()


        # Insert data for Guest 1
        insert_query1 = """
        INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
        VALUES (7, 8,'Anees', 'Java', "18:00", 6)
        """
        cursor1.execute(insert_query1)
        connection1.commit()
        print("Data for Guest 1 inserted successfully.")

        # Insert data for Guest 2
        insert_query2 = """
        INSERT INTO Bookings (BookingID,TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
        VALUES (8, 5, "Bald", "Vin", "19:00", 6)
        """
        cursor2.execute(insert_query2)
        connection2.commit()
        print("Data for Guest 2 inserted successfully.")

        # Get a third connection from the pool for Guest 3
        try:
            connection3 = pool.get_connection()

            # Create a cursor for Guest 3
            cursor3 = connection3.cursor()

            # Insert data for Guest 3
            insert_query3 = """
            INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
            VALUES (9, 12, "Jay", "Kon", "19:30", 6 )
            """
            cursor3.execute(insert_query3)
            connection3.commit()
            print("Data for Guest 3 inserted successfully.")

        except PoolError as error:
            print("Error occurred while getting the third connection:", error)

    except Error as error:
        print("Error occurred during database operations:", error)

    finally:
        # Close cursors and return connections to the pool
        cursor1.close()
        cursor2.close()
        connection1.close()
        connection2.close()

except Error as er:
    print("Error occurred during connection pool creation")

The connection pool is created with a name: pool_b
The pool size is: 2
Data for Guest 1 inserted successfully.
Data for Guest 2 inserted successfully.
Error occurred while getting the third connection: Failed getting connection; pool exhausted

In [61]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error
import mysql.connector as connector


dbconfig = {
    "database": "little_lemon_db",
    "user": "root",
    "password": "Nicole2023"
}

try:
    pool = MySQLConnectionPool(pool_name="pool_b", pool_size=2, **dbconfig)
    print("The connection pool is created with a name:", pool.pool_name)
    print("The pool size is:", pool.pool_size)

    # Get a connection from the connection pool
    connection = pool.get_connection()

    try:
        # Create cursor
        cursor = connection.cursor()

        # Retrieve the name and EmployeeID of the Little Lemon manager
        manager_query = """
        SELECT Name, EmployeeID
        FROM Employees
        WHERE Role = 'Manager'
        """
        cursor.execute(manager_query)
        manager_result = cursor.fetchone()
        manager_name = manager_result[0]
        manager_employee_id = manager_result[1]
        print("Little Lemon Manager:")
        print("Name:", manager_name)
        print("EmployeeID:", manager_employee_id)

        # Retrieve the name and role of the employee with the highest salary
        highest_salary_query = """
        SELECT Name, Role
        FROM Employees
        WHERE Annual_Salary = (
            SELECT MAX(Annual_Salary)
            FROM Employees
        )
        """
        cursor.execute(highest_salary_query)
        highest_salary_result = cursor.fetchone()
        highest_salary_name = highest_salary_result[0]
        highest_salary_role = highest_salary_result[1]
        print("Employee with Highest Salary:")
        print("Name:", highest_salary_name)
        print("Role:", highest_salary_role)

        # Retrieve the number of guests booked between 18:00 and 20:00
        guests_count_query = """
        SELECT COUNT(*) as GuestsCount
        FROM Bookings
        WHERE BookingSlot BETWEEN '18:00:00' AND '20:00:00'
        """
        cursor.execute(guests_count_query)
        guests_count_result = cursor.fetchone()
        guests_count = guests_count_result[0]
        print("Number of Guests Booked between 18:00 and 20:00:", guests_count)

        # Retrieve the full name and BookingID of guests waiting to be seated with the receptionist in sorted order of BookingSlot
        waiting_guests_query = """
        SELECT CONCAT(GuestFirstName, ' ', GuestLastName) AS FullName, BookingID
        FROM Bookings
        WHERE EmployeeID = (
            SELECT EmployeeID
            FROM Employees
            WHERE Role = 'Receptionist'
        )
        ORDER BY BookingSlot
        """
        cursor.execute(waiting_guests_query)
        waiting_guests_results = cursor.fetchall()
        print("Guests Waiting to be Seated with the Receptionist:")
        for waiting_guest in waiting_guests_results:
            full_name = waiting_guest[0]
            booking_id = waiting_guest[1]
            print("Full Name:", full_name)
            print("BookingID:", booking_id)
            print()

    except Error as error:
        print("Error occurred during database operations:", error)

    finally:
        # Close the cursor and connection
        cursor.close()
        connection.close()

except Error as er:
    print("Error occurred during connection pool creation:", er)

The connection pool is created with a name: pool_b
The pool size is: 2
Little Lemon Manager:
Name: Mario Gollini
EmployeeID: 1
Employee with Highest Salary:
Name: Mario Gollini
Role: Manager
Number of Guests Booked between 18:00 and 20:00: 6
Guests Waiting to be Seated with the Receptionist:
Full Name: Anees Java
BookingID: 7

Full Name: Bald Vin
BookingID: 8

In [94]:
# Create a stored procedure named BasicSalesReport. 
cursor.execute("DROP PROCEDURE IF EXISTS BasicSalesReport;")

stored_procedure_query="""
CREATE PROCEDURE BasicSalesReport()

BEGIN
SELECT 
SUM(BillAmount) AS Total_Sale,
AVG(BillAmount) AS Average_Sale,
MIN(BillAmount) AS Min_Bill_Paid,
MAX(BillAmount) AS Max_Bill_Paid
FROM Orders;
END
"""

# Execute the query
cursor.execute(stored_procedure_query)

#********************************************#

# Call the stored procedure with its name
cursor.callproc("BasicSalesReport")
# Retrieve records in "dataset"
results = next(cursor.stored_results())
results = results.fetchall()

# Retrieve column names using list comprehension in a for loop 
for column_id in cursor.stored_results():
    cols = [column[0] for column in column_id.description]

    
for result in results:
    print("\t{}: {}".format(cols[0], result[0]))
    print("\t{}: {}".format(cols[1], result[1]))
    print("\t{}: {}".format(cols[2], result[2]))
    print("\t{}: {}".format(cols[3], result[3]))

	Total_Sale: 243
	Average_Sale: 48.6000
	Min_Bill_Paid: 37
	Max_Bill_Paid: 86

In [84]:
import mysql.connector
from mysql.connector import Error
from mysql.connector.pooling import MySQLConnectionPool

# Create a connection pool
dbconfig = {
    "database": "little_lemon_db",
    "user": "root",
    "password": "Nicole2023"
}

try:
    pool = MySQLConnectionPool(pool_name="pool_b", pool_size=2, **dbconfig)
    print("The connection pool is created with a name:", pool.pool_name)
    print("The pool size is:", pool.pool_size)

    # Get a connection from the pool
    connection = pool.get_connection()

    # Create a buffered cursor
    cursor = connection.cursor(buffered=True)

    # Combine data from Bookings and Employee tables, sort in ascending order, and fetch the first three bookings
    query = """
    SELECT b.BookingSlot, CONCAT(b.GuestFirstName, ' ', b.GuestLastName) AS GuestName, 
           CONCAT(e.Name, ' [', e.Role, ']') AS AssignedTo
    FROM Bookings b
    LEFT JOIN Employees e ON b.EmployeeID = e.EmployeeID
    ORDER BY b.BookingSlot ASC
    LIMIT 3
    """

    cursor.execute(query)

    # Fetch and display the information of the first three guests
    print("[BookingSlot]\t[Guest_name]\t\t[Assigned to: Employee Name [Employee Role]]")
    for row in cursor.fetchall():
        print(row[0], "\t", row[1], "\t\t", row[2])

    # Return the connection back to the pool
    connection.close()

except Error as e:
    print("Error:", e)

The connection pool is created with a name: pool_b
The pool size is: 2
[BookingSlot]	[Guest_name]		[Assigned to: Employee Name [Employee Role]]
15:00:00 	 Vanessa McCarthy 		 Giorgos Dioudis [Head Chef]
17:30:00 	 Marcos Romero 		 Fatma Kaya [Assistant Chef]
18:00:00 	 Anees Java 		 John Millar [Receptionist]